@model HotelBookingSystem.Models.RoomType

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary by-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">Create Room Type</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-4 rounded">
                <div class="col-12 mb-3">
                    <label asp-for="Name" class="ms-2"></label>
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-12 mb-3">
                    <label asp-for="Capacity" class="ms-2"></label>
                    <input asp-for="Capacity" class="form-control border-0 shadow" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>

                <div class="col-12 mb-3">
                    <label asp-for="PricePerNight" class="ms-2"></label>
                    <input asp-for="PricePerNight" class="form-control border-0 shadow" />
                    <span asp-validation-for="PricePerNight" class="text-danger"></span>
                </div>

                <div class="col-12 mb-3">
                    <label asp-for="Description" class="ms-2"></label>
                    <textarea asp-for="Description" class="form-control border-0 shadow" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="col-12 mb-3">
                    <label asp-for="ImageUrl" class="ms-2"></label>
                    <input type="file" name="file" class="form-control border-0 shadow" />
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Add</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="RoomType" asp-action="Index" class="btn btn-secondary form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
