@model Booking

<div class="container pt-4">
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-light ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Booking Details</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-12 col-lg-6 pb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Guest Details:</span>
                    </h4>
                    <div class="row my-1">
                        <div class="col-3">Name</div>
                        <div class="col-9">
                            <input asp-for="Name" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">Phone</div>
                        <div class="col-9">
                            <input asp-for="Phone" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">Email</div>
                        <div class="col-9">
                            <input asp-for="Email" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">Check-in</div>
                        <div class="col-9">
                            <input value="@Model.CheckInDate.ToShortDateString()" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">Status</div>
                        <div class="col-9">
                            <input asp-for="Status" readonly class="form-control fw-bold" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5 offset-lg-1">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Room: @Model.Room.RoomNumber</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between p-2">
                            <div class="text-muted">Total (USD)</div>
                            <span class="fw-bold">$@Model.TotalCost</span>
                        </li>
                    </ul>

                    @if (User.IsInRole(SD.ROLE_ADMIN))
                    {
                        if (Model.Status == SD.STATUS_PENDING)
                        {
                            <form method="post" asp-action="ApproveBooking" asp-route-bookingId="@Model.BookingId">
                                <button type="submit" class="btn btn-success w-100 my-1">Approve Booking</button>
                            </form>
                        }

                        if (Model.Status != SD.STATUS_CANCELLED && Model.Status != SD.STATUS_REFUNDED)
                        {
                            <form method="post" asp-action="CancelBooking" asp-route-bookingId="@Model.BookingId">
                                <button type="submit" class="btn btn-danger w-100 my-1">Cancel Booking</button>
                            </form>
                        }
                    }

                    <div class="mt-2">
                        <a asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>