@model HotelBookingSystem.Models.Room

<form method="post">
    <input asp-for="RoomId" hidden />
    <div class="border p-3 my-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Room</h2>
            <hr/>
        </div>

        <div class="mb-3 row">
            <label asp-for="RoomNumber"></label>
            <input asp-for="RoomNumber" class="form-control" />
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>

        <div class="mb-3 row">
            <label asp-for="Flour"></label>
            <input asp-for="Flour" class="form-control" />
            <span asp-validation-for="Flour" class="text-danger"></span>
        </div>

        <div class="mb-3 row">
            <label asp-for="RoomTypeId">Room Type</label>
            <select asp-for="RoomTypeId" asp-items="ViewBag.RoomTypeList" class="form-select">
                <option disabled selected>-- Select Room Type --</option>
            </select>
            <span asp-validation-for="RoomTypeId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Room" asp-action="Index" class="btn btn-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
